---
title: "ePoD - Map"
layout: "layout-blank"
---
<?php
  header('Content-Type: text/html; charset=utf-8');
  include "lib/nusoap.php";
  //include 'function.php';
?>
<html>
<head>
<title>getWebStation</title>
  <meta Content-Type: text/xml; charset=utf-8>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/bootstrap3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//js.arcgis.com/3.13/esri/css/esri.css">   
  <link rel="stylesheet" type="text/css" href="http://esri.github.io/bootstrap-map-js/src/css/bootstrapmap.css"> 
  <script src="assets/jquery/jquery-1.12.3.min.js"></script>
  <script src="assets/bootstrap3.3.6/js/bootstrap.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js"></script>


  <%= partial "epod-map-partials/_stylesheet" %>


  <%= partial  "epod-map-partials/_javascript_init" %>


</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-4 sidenav">
      <h4>E-POD getWebStation</h4>
        <div class="form-group">
        <label for="">ศูนย์</label>
          <select class="form-control" name="station_id" id="station_selected_id">
            <option value="#"selected>เลือกศูนย์</option>
            <?php
              $client = new nusoap_client("http://58.137.5.126/epodws/Service.asmx?wsdl",true);
              $client->soap_defencoding = 'UTF-8';
              $client->decode_utf8 = false;
              $client->encode_utf8 = true;



<% if config[:phase_environment] == "Development" %>

    /* forceEndpoint Partial : Localhost (Internet) */
    <%= partial "/api/restful-api/phaseEnvironment-partials/_forceEndpointViaInternet" %>

<% elsif config[:phase_environment] == "Test" %>

    /* forceEndpoint Partial : Localhost (Intranet) */
    <%= partial "/api/restful-api/phaseEnvironment-partials/_forceEndpointViaIntranet" %>

<% elsif config[:phase_environment] == "Production" %>

    /* forceEndpoint Partial : Production (Intranet) */
    <%= partial "/api/restful-api/phaseEnvironment-partials/_forceEndpointViaIntranet" %>

<% end %>


              $params = array(
                      'station_id'=>''
              );
              $data = $client->call('getWebStation', $params);
              //print_r($data);
              //echo '<pre>';
              //var_dump($data);
              $mydata = json_decode($data["getWebStationResult"],true); // json decode from web service
              $count_data  = count($mydata['array']);
              //echo $count_data;
              for ($i=0; $i < $count_data; $i++) { 
                echo "<option value=\"{$mydata["array"][$i]["station_id"]}\" >{$mydata["array"][$i]["station"]}</option></option>";
              }
            ?>
          </select>
    </div>


    
    <div class="scrollable-table" id="CourierListID"></div>
    
  </div>


    <div class="col-sm-8">
      <h4><small>MAP</small></h4>
      <hr>
      <div id="mapDiv"></div>
        <div id="googleMap" style="width:auto;height:680px;"></div>
          <hr>
    </div>
  </div>
</div>

  <footer class="container-fluid">
    <div align="center">
      <p>Inter Express Logistics</p>
    </div>
  </footer>

</body>
</html>