---
title: "LDMS - Home"
layout: "layout-desktop-ldms-home"
---

<!-- BEGIN CONTAINER -->
<div class="wrapper">
    <!-- BEGIN HEADER -->
    <header class="page-header">
        <nav class="navbar mega-menu" role="navigation">
            <div class="container-fluid">

                <%= partial "common-partials/_navbar" %>

                <%= partial "common-partials/_header-menu" %>

            </div>
            <!--/container-->
        </nav>
    </header>
    <!-- END HEADER -->

    <div class="container-fluid">
        <div class="page-content">

            <%= partial "common-partials/_breadcrumbs" %>

            <!-- BEGIN PAGE BASE CONTENT -->

            <%= partial "common-partials/_dashboard-stat-1" %>

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <%= partial "common-partials/_portlet-site-visits" %>
                </div>
                <div class="col-md-6 col-sm-6">
                    <%= partial "common-partials/_portlet-revenue" %>
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        
        <%= partial "common-partials/_footer" %>

    </div>
</div>
<!-- END CONTAINER -->




